---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white cursor-pointer"
  onclick="window.location.href='/'; return false;"
>
  <img 
    src="/src/assets/images/petra_logo_white.jpg" 
    alt="PETRA Logo" 
    class="inline-block w-6 h-6 mr-1 -mt-1 dark:hidden" 
  />
  <img 
    src="/src/assets/images/petra_logo_black.jpg" 
    alt="PETRA Logo" 
    class="inline-block w-6 h-6 mr-1 -mt-1 hidden dark:inline-block" 
  />
  {SITE?.name}
</span>
